* {
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}

body {
  background-color: black;
  text-decoration-color: white;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}


.container {
  display: grid;
  place-items: left;
  margin: 20vh 20vw;
  padding: 5px;
}

.project-header {
  max-width: 650px;
  font-size: xx-large;
  color: white;
  text-align: justify;
  padding-top: 5px;
}

.subtitle {
  max-width: 900px;
  font-size: larger;
  color: grey;
  text-align: justify;
  padding-top: 5px;
}

.tech-pills {
  color: grey;
  font-size: medium;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

hr {
  width: 100%;
  border-color: gray;
  opacity: 30%;
}

.header {
  max-width: 650px;
  font-size: xx-large;
  color: white;
  text-align: justify;
}

.about {
  font-size: medium;
  color: white;
  max-width: 800px;
  padding-top: 50px;
  text-align: left;
  font-size: large;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #93e9be;
  font-size: large;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #93e9be;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media screen and (max-width: 600px), screen and (max-height: 600px) {
  .container {
    margin: 15vh auto;
  }
}

.icon-link {
  opacity: 10%;
  padding: 7px;
  color: white;
}

.icon-link:hover {
  opacity: 100%;
}